body {
    margin: 60px auto;
    width: 90%;
    max-width: 1000px;
}

header {
    position: relative;
}

.header-content {
    display: flex;
    align-items: baseline;
}

.header-headshot {
    width: 90px;
    height: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.header-content h1 {
    font-family: Arial, sans-serif;
    font-size: 4.0em;
    margin: 0;
}

.header-content h1 a {
    color: black;
    text-decoration: none;
}

#welcomephoto {
    max-width: 600px;
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#news-updates {
    background-color: #E1EBFF;
    padding: 20px;
    margin-bottom: 20px;
}

#news-updates h2, #news-updates h3, #news-updates .date, #news-updates a {
    font-family: Arial, sans-serif;
    color: #333;
    text-decoration: none;
}

#news-updates .date {
    font-style: italic;
    color: #666;
}

#news-updates a {
    color: gray;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
    padding: 10px;
}

.image-gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: transform 0.2s;
}

.image-gallery img:hover {
    transform: scale(1.1);
    border-color: #333;
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        text-align: left;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li:first-child {
        margin-left: 0;
    }

    .header-headshot {
        width: 60px; /* Smaller size for mobile */
        height: auto;
    }

    .image-gallery {
        grid-template-columns: 1fr;
    }

    #welcomephoto {
        max-width: 90%;
    }
}

nav ul, footer ul {
    font-family: Arial, sans-serif;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

nav ul li {
    margin-right: 20px;
    font-size: 1.8rem; /* Adjusted for better readability */
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #999;    
    font-size: 1.8rem;
}

a:hover {
    text-decoration: underline;
}

h1, h2, p, section h2 {
    font-family: Arial, sans-serif;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
