body {
    margin: 60px auto; /* Adjust margin for better centering */
    width: 90%; /* Adjust width for better responsiveness */
    max-width: 1000px; /* Add max-width to prevent content from stretching too wide on larger screens */
}

nav ul, footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: block; /* Change to block for better stacking on smaller screens */
    margin-bottom: 10px; /* Add margin-bottom for better spacing */
}

section ul li {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 10px;
}

section ul ul li {
    font-size: 18px;
    line-height: 1.0;
    list-style-type: disc;
}

section ol li {
    font-size: 18px;
    line-height: 1.0;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2.5em; /* Adjust font size for better readability */
}

section h2 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Adjust color as needed */
    margin-bottom: 1px;
    margin-bottom: 1px; /* Add some space below the heading */
}

p {
    font-size: 1.2em; /* Adjust font size for better readability */
    line-height: 1.2em; /* Increase line-height for better readability */
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

#headshot {
    max-width: 100%; /* Ensure the image does not overflow its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure proper alignment */
    margin: 10px auto; /* Adjust margin for better centering */
}

header {
    position: relative;
    padding-right: 0; /* Adjust padding for better alignment */
}
